{% load static %}
<html lang="en">
<head>
{%block head %}{%endblock %}
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">

    <!-- Site Metas -->
    <title>Food Funday Restaurant - One page HTML Responsive</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="{% static 'home/images/favicon.ico'%}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{% static 'home/images/apple-touch-icon.png'%}">
    <link rel="stylesheet" href="{% static 'home/css/fontyekan.css'%}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css'%}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'home/css/style.css'%}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'home/css/responsive.css'%}">
    <!-- color -->
    <link id="changeable-colors" rel="stylesheet" href="{% static 'home/css/colors/orange.css'%}" />

    <!-- Modernizer -->
    <script src="{% static 'home/images/js/modernizer.js'%}"></script>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="{% static 'accounts/plugins/fontawesome-free/css/all.min.css'%}">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="{% static 'accounts/plugins/overlayScrollbars/css/OverlayScrollbars.min.css' %}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'accounts/dist/css/adminlte.min.css' %}">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

</head>
<body>
{% block content%}
{%endblock%}

    {%block js%}
    {% endblock %}


</body>
</html>